<div class="filter-container">
    <span>Filter: </span>
    
    <input type="radio" name="filter" value="all" [(ngModel)]="selectedbutton" (click)="eventemmitted()"/>
    <span>all({{all}})</span>

    <input type="radio" name="filter" value="true" [(ngModel)]="selectedbutton" (click)="eventemmitted()"/>
    <span>In Stock({{instock}})</span>

    <input type="radio" name="filter" value="false" [(ngModel)]="selectedbutton" (click)="eventemmitted()"/>
    <span>{{'Out Of Stock('+outstock+')'}}</span>
</div>